{% extends 'layout.html' %}
{% block content %}
<div class="content p-4">
<button class="btn btn-dark" onclick="window.history.back()"> Back </button>
<h1 class="display-1">Fatalities</h1>
<br>
	<table class="table table-striped table-dark" id="tbl">
		<thead>
			<tr>
			<th scope="col">SerialNo</th>
			<th scope="col">Patient Name</th>
			<th scope="col">Patient Phone</th>
			<th scope="col">Vaccine Name</th>
			<th scope="col">Vaccine Batch</th>
			</tr>
		</thead>
		<tbody id='tbl'>
			{% for e in patients %}
			<tr data-phone="{{e.name}}">
			<td>{{loop.index}}</td>
				<td>{{e.name}}</td>
				<td>{{e.phone}}</td>
				<td>{{e.vaccine_batch.vaccine_name}}</td>
				<td>{{e.vaccine_batch.batch_id}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}