{% extends 'layout.html' %}
{% block content %}
<div class="container p-4">
	<button class="btn btn-dark" onclick="window.history.back()"> Back </button>
	<h1 class="display-1">My Patients' Side Effects</h1>
	<br>
	<table class="table table-striped table-dark" id="tbl">
		<thead>
			<tr>
			<th scope="col">SerialNo</th>
			<th scope="col">Patient Name</th>
			<th scope="col">Patient Phone</th>
			<th scope="col">Vaccine Name</th>
			<th scope="col">Vaccine Batch</th>
			<th scope="col">Number of Side Effects</th>
			<th scope="col">View Side Effects</th>
			</tr>
		</thead>
		<tbody id='tbl'>
			{% for e in patients %}
			<tr data-phone="{{e.name}}">
			<td>{{loop.index}}</td>
				<td>{{e.name}}</td>
				<td>{{e.phone}}</td>
				<td>{{e.vaccine_batch.vaccine_name}}</td>
				<td>{{e.vaccine_batch.batch_id}}</td>
				<td class='phn'>{{e.side_effects|length}}</td>
				<td><button class="btn btn-light text-dark" data-toggle="modal" data-target="#SideEffectModal" onclick=view({{e.phone}})>View</button></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<!-- SideEffect Modal -->
<div class="modal fade" id="SideEffectModal" tabindex="-1" role="dialog" aria-labelledby="SideEffectModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SideEffectModalLongTitle">Side Effects</h5>
        <button type="button" class="btn btn-muted" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  	<div class="tablecontainer">
			<table class="table table-striped table-dark" id="tblx">
				<thead>
					<tr>
					<th scope="col">SerialNo</th>
					<th scope="col">Symptoms</th>
					<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody id="sefx">
					{% for e in patients %}
					<tr data-phone="{{e.name}}">
					<td>{{loop.index}}</td>
						<td>{{e.name}}</td>
						<td>{{e.phone}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		  </div>
      </div>
      <div class="modal-footer">
	
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
	const side_effects = JSON.parse(`{{json.dumps(side_effects)}}`.replaceAll('&#34;', '"').replaceAll(" X&#34", '"'));

	const view = (phone) => {
		//console.log(phone);
		//console.log("Showing Side Effects of: " + phone);
		//let sef = side_effects[`+${phone}`];
		//console.log(sef)
		let table = document.getElementById('sefx');
		table.innerHTML = "";
		let sef = side_effects[`${phone}`];
		let cx=1
		sef.forEach((e)=>{
			table.innerHTML += `
				<tr>
					<td>${cx++}</td>
					<td>${e.symptoms.join(", ")}</td>
					<td>${e.description}</td>
				</tr>
			`;
		})
	}


</script>
{% endblock js %}